<div class="m-333 topPadding">
  <button mat-flat-button class="mb-8 table-action-button" color="primary" (click)="onOpenSideNav({}, true)">
    Add Account</button>
  <mat-form-field class="form-field-filter">
    <mat-select matInput name="UserType" [(value)]="userTypeSelection"
      (selectionChange)="UserTypeChanged($event.value)">
      <mat-option *ngFor="let userType of allUserTypes" [value]="userType">
        {{userType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card-content class="p-0">
  <mat-sidenav-container class="example-container" (backdropClick)="onCloseSideNav('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="onCloseSideNav('escape')" position="end" mode="over" disableClose>
      <div class="user-table-sidenav">
        <app-user-table-sidenav *ngIf="selectedRow" [data]="selectedRow" [title]="title"
          (onCloseSideNav)="onCloseSideNav($event)" (onSubmitData)="onSubmitData($event)">
        </app-user-table-sidenav>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-main-content">
      <mat-card class="p-0 table-card" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">
          <ngx-datatable-column name="First Name" [flexGrow]="1" [maxWidth]="120" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.NameFirst }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Last Name" [flexGrow]="1" [maxWidth]="120" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.NameLast }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contact Email" [flexGrow]="1" [maxWidth]="180" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Email }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Fabricator" [flexGrow]="1" [maxWidth]="170" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Fabricator?.Name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ADS, AWS & ASS" [flexGrow]="1" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row?.AWSFabricator">
                {{ row?.ADSFabricator?.Name }}, {{ row?.AWSFabricator?.Name }} & {{ row?.ASSFabricator?.Name }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dealer Name" [flexGrow]="1" [maxWidth]="150" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Dealer?.Name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [flexGrow]="1" [maxWidth]="100" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button class="mr-16 table-icon" (click)="onOpenSideNav(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card-content>