@font-face {
  font-family: 'Univers for Schueco';
  src: url('UniversForSchueco-330Light.woff2') format('woff2'),
      url('UniversForSchueco-330Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers for Schueco';
  src: url('UniversForSchueco-430Reg.woff2') format('woff2'),
      url('UniversForSchueco-430Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers for Schueco';
  src: url('UniversForSchueco-630Bold.woff2') format('woff2'),
      url('UniversForSchueco-630Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers for Schueco';
  src: url('UniversForSchueco-530Med.woff2') format('woff2'),
      url('UniversForSchueco-530Med.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers for Schueco';
  src: url('UniversForSchueco-431RgIt.woff2') format('woff2'),
      url('UniversForSchueco-431RgIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}