.financial-table-sidenav{
    height: 632px; 
    width: 300px; 
    padding: 20px;
    border: 1px solid #D7D7D7;
}
.financial-details-sidenav{
    height: 632px; 
    width: 600px; 
    padding: 20px;
}
