.example-h2 {
    margin: 10px 0px;
    font-size: 11px;
    color: rgba(48, 65, 86, 0.54);
    padding-top: 4px;
    vertical-align: top;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 7px;
}

.example-margin {
    margin: 0 20px 0px 0px;
}
